[submodule "diana"]
	path = diana
	url = https://github.com/thesivis/diana.git
[submodule "TheBoardCommunication"]
	path = TheBoardCommunication
	url = https://github.com/thesivis/theboardcommunication.git
[submodule "thegaps"]
	path = thegaps
	url = https://github.com/thesivis/thegaps.git
[submodule "react"]
	path = react
	url = https://github.com/thesivis/react.git
[submodule "thevoting"]
	path = thevoting
	url = https://github.com/thesivis/thevoting.git
